body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111;
    color: #fff;
    transition: background-color 0.5s ease;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px; /* Adiciona margem no topo */
    margin-bottom: 20px; /* Adiciona margem na parte inferior */
}

header {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    /*margin-bottom: 10px;*/
    transition: background-color 0.5s ease;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 16px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    border-color: aqua;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
    /*transition: padding 1s ease;*/
    transition: font-size 0.5s ease;
}

nav a:hover {
    color: #ff0000;
    /*padding: 10px 20px;*/
    font-size: 18px;
}

main.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: calc(30% - 20px); /* 33.33% para garantir três cartões por linha com margens */
    background-color: #fff;
    background-image: url(midia/python.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: font-size 1s ease;
}

.card:hover{
    font-size: 20px;
}

.card h2 {
    color: #333;
}

.card p {
    color: #666;
    margin-bottom: 10px;
}

.card span {
    display: block;
    color: #888;
}

.card2 {
    width: calc(30% - 20px); /* 33.33% para garantir três cartões por linha com margens */
    background-color: #fff;
    background-image: url(midia/php.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: font-size 1s ease;
}

.card2:hover{
    font-size: 20px;
}

.card2 h2 {
    color: #333;
}

.card2 p {
    color: #666;
    margin-bottom: 10px;
}

.card2 span {
    display: block;
    color: #888;
}

.card3 {
    width: calc(30% - 20px); /* 33.33% para garantir três cartões por linha com margens */
    background-color: #fff;
    background-image: url(midia/csharp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140px 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: font-size 1s ease;
}

.card3:hover{
    font-size: 20px;
}

.card3 h2 {
    color: #333;
}

.card3 p {
    color: #666;
    margin-bottom: 10px;
}

.card3 span {
    display: block;
    color: #888;
}

.card4 {
    width: calc(30% - 20px); /* 33.33% para garantir três cartões por linha com margens */
    background-color: #fff;
    background-image: url(midia/js.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 175px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: font-size 1s ease;
}

.card4:hover{
    font-size: 20px;
}

.card4 h2 {
    color: #333;
}

.card4 p {
    color: #666;
    margin-bottom: 10px;
}

.card4 span {
    display: block;
    color: #888;
}

.card5 {
    width: calc(30% - 20px); /* 33.33% para garantir três cartões por linha com margens */
    background-color: #fff;
    background-image: url(midia/html.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 175px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: font-size 1s ease;
}

.card5:hover{
    font-size: 20px;
}

.card5 h2 {
    color: #333;
}

.card5 p {
    color: #666;
    margin-bottom: 10px;
}

.card5 span {
    display: block;
    color: #888;
}

.card6 {
    width: calc(30% - 20px); /* 33.33% para garantir três cartões por linha com margens */
    background-color: #fff;
    background-image: url(midia/css.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: font-size 1s ease;
}

.card6:hover{
    font-size: 20px;
}

.card6 h2 {
    color: #333;
}

.card6 p {
    color: #666;
    margin-bottom: 10px;
}

.card6 span {
    display: block;
    color: #888;
}

footer {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px; /* Adiciona margem na parte superior */
    transition: background-color 0.5s ease;
}

/* Adiciona uma media query para dispositivos com largura menor que 768 pixels (tamanho típico de um tablet ou celular) */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Alinha os botões um abaixo do outro */
        align-items: center; /* Centraliza os botões */
    }

    nav ul li {
        margin-right: 0; /* Remove a margem à direita para que os botões ocupem toda a largura */
        margin-bottom: 10px; /* Adiciona uma margem inferior entre os botões */
    }

    .card {
        width: calc(50% - 20px); /* 50% para garantir dois cartões por linha com margens */
    }
}
